@import url('https://cdn.jsdelivr.net/npm/galmuri@latest/dist/galmuri.css');

body {
        margin: 0;
}

.container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.main-box {
        background-color: #eff0e1;
        border: 1px solid lightgrey;
        border-radius: 10px 10px 40px 10px;
        width: 500px;
        height: 600px;
        padding: 60px 20px 20px 20px;
}

.display-border {
        background-color: lightgray;
        border-radius: 10px 10px 30px 10px;
        padding: 30px 60px 30px 100px;
}

#display {
        background-color: #aade73;
        width: 100%;
        height: 300px;
        overflow: auto;
        padding-left: 10px;

        font-family: galmuri9;
}

.selected {
        color: red
}

.title {
        color: blue
}

.title > strong {
        font-weight: normal;
        font-size: 30px;
        font-style: italic;
}

#gameInput {
        margin-right: 10px;
}

.buttons {
        margin-top: 30px;
        display: flex
}

.btn-box {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
}

.btn-box > span {
        color: blue;
        margin-left: 30px;
        transform: rotate(-45deg);
}

button {
        all: unset;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: red;
        cursor: pointer;
}

.grey {
        width: 40px;
        height: 10px;
        border-radius: 10px;
        background-color: grey;
        transform: rotate(-45deg);
}

.input-box {
        display: flex;
        align-items: center;
}
